.todoarea {
  padding-right: 18px;
}

.todoHeader {
  display: grid;
  grid-template-columns: auto fit-content(100%);
  align-items: center;
}

.todoHeader h2 {
  margin: 0;
  padding-left: 8px;
}

.completedTodoHeader {
  display: block;
}
