/* @media (max-width: 500px) {
  .todoarea {
  }
} */

.todoarea {
  flex: 1;
  padding-right: 18px;
  padding-left: 10px;
}

.todoHeader {
  display: flex;
  align-items: center;
}

.todoHeader h2 {
  flex: 1;
  margin: 0;
  padding-left: 8px;
}

.completedTodoHeader {
  display: block;
}
