@media (max-width: 500px) {
  .projectarea {
    display: none;
  }
}

.projectarea div:checked + label {
  background: #fff;
  color: #5a5243;
}

.projectarea h2 {
  padding-left: 8px;
}

.projectarea {
  background: #202124;
  padding-left: 10px;
  border-right: 1px solid #5f6368;
  height: 100%;
}

.projectList {
  margin-bottom: 10px;
}

.separator {
  height: 10px;
}
