.todo {
  border-bottom: 1px solid #5f6368;
  display: grid;
  grid-template-columns: repeat(2, min-content) auto;
}

.todo.active:hover {
  background: #202124;
  cursor: initial;
}

.todo:hover {
  background: rgb(255 255 255 / 4%);
  cursor: pointer;
}

.todoBar {
  padding: 8px 8px 8px 0;
  grid-row: 1 / 1;
  grid-column: 3 / 3;
  gap: 6px;
  display: grid;
  grid-template-columns: max-content auto max-content;
}

.todoDueDateIcon {
  background: rgba(245, 222, 178, 0.12);
  border: 1px solid rgb(245, 222, 178);
  padding: 1px 4px;
  border-radius: 2px;
  font-size: 14px;
}
