.todoOpen {
  grid-column: 2 / -1;
}

.todoBottomRow {
  display: flex;
  justify-content: space-between;
}

.todoOpen input,
.todoOpen textarea {
  background: #202124;
  font-size: 16px;
  border: none;
  outline: none;
}

.todoOpen textarea {
  width: -webkit-fill-available;
  height: 68px;
  resize: none;
  overflow-y: hidden;
  font-family: sans-serif;
  padding: 8px 0;
}

.flatpickr-calendar,
.flatpickr-months .flatpickr-month,
.flatpickr-current-month .flatpickr-monthDropdown-months,
span.flatpickr-weekday {
  background: black;
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: white;
}

.flatpickr-calendar {
  border-top: 1px white dashed;
  border-bottom: 1px white dashed;
  border-radius: initial;
}
